.container-info{
    /* background-color: white; */
   /* position: absolute; */
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
    margin-top: 13rem;
    flex-direction: column;
    width: 20%;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.teachers{
    background-color: rgb(229, 209, 209);
    width: 19rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
}