{% extends 'rent/basic.html' %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} Rent{% endblock %}</title>
  {% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="static/HomePages/product.css">

   {% endblock %}
</head>
<body class="HomePage_body">
  {% block body %} 

<!-- <h1 class = "logo">Kin Bech</h1>
<h2 class="banner-headline"> Music is what brings us together.</h2>
<button class="enroll">Start now <i class="fa-solid fa-arrow-right fa-bounce" style="color: #ffffff;"></i></button> -->

<!-- Product -->
{% for category, products in category_products.items %}
<h1>{{category}} </h1>
<div class="product-container">
  {% for product in products %}
  <div class="product">
    <img src="{{product.image}}" alt="{{product.product_name}}">
    <div class="product-details">
        <p>{{product.product_name}}</p>
        <p>{{product.category}}</p>
        <p class="price">{{product.price}}</p>
        <p class="description">{{product.desc}}</p>
        <p class="publish-date">{{product.publish_date}}</p>
        <button class="add-to-cart">Add To Cart</button>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}

<footer class="contact-us">
  <div class="container-contact">
<div class="contact-email">sudechii.m@gmail.com</div>
<br>
<div class="contact-number">9861611523</div>
</div>
  <div class="follow-us">Follow us</div>
</footer>
{% endblock %}


<!-- <script src="static/HomePages/HomePage.js"></script>
<script src="static/RegisterPages/Register_validation.js"></script> -->
</body>
</html>