{% extends 'rent/basic.html' %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} Rent{% endblock %}</title>
  {% block css %}
  {{ block.super }}
   {% endblock %}
</head>
<body class="HomePage_body">
  {% block body %} 

<!-- <h1 class = "logo">Kin Bech</h1>
<h2 class="banner-headline"> Music is what brings us together.</h2>
<button class="enroll">Start now <i class="fa-solid fa-arrow-right fa-bounce" style="color: #ffffff;"></i></button> -->

<!-- Product -->
<div class="product-container">
  <div class="product">
    <img src="Guitar1.jpg" alt="Guitar">
    <div class="product-details">
        <label for="Guitar">Guitar</label>
        <label for="Instrument">Instrument</label>
        <p class="price">400</p>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repellat consequuntur reprehenderit saepe est, provident cumque, voluptatem quisquam blanditiis, ducimus nobis sunt vero delectus sed alias expedita veritatis nesciunt velit.</p>
        <p class="publish-date">Date</p>
    </div>
  </div>
</div>
<Footer class="contact-us">
  <div class="container-contact">
<div class="contact-email">sudechii.m@gmail.com</div>
<br>
<div class="contact-number">9861611523</div>
</div>
  <div class="follow-us">Follow us</div>
</Footer>
{% endblock %}


<!-- <script src="static/HomePages/HomePage.js"></script>
<script src="static/RegisterPages/Register_validation.js"></script> -->
</body>
</html>